[submodule "fire_weather/WindNinja"]
	path = fire_weather/WindNinja
	url = https://github.com/gagreene/WindNinja.git
	ignore = dirty
[submodule "fire_weather/cffdrs"]
	path = fire_weather/cffdrs
	url = https://github.com/gagreene/cffdrs.git
	ignore = dirty
